/aulas_basicas/aulas/aula05/target/
/aulas_basicas/aulas/aula05FX/target/
/aulas_basicas/aulas/aula06-RelogioSwing/target/
/aulas_basicas/aulas/aula06-IdiomaSwing/target/
/aulas_basicas/aulas/aula07-TipoPrimitivos/target/
/aulas_basicas/aulas/aula07-EntradaDeDados/target/
/aulas_basicas/aulas/aula07-TesteTipos/target/
/aulas_basicas/aulas/aula7-DesafioSomarValores/target/
