/aulas_basicas/aulas/aula05/target/
/aulas_basicas/aulas/aula05FX/target/
/aulas_basicas/aulas/aula06-RelogioSwing/target/
/aulas_basicas/aulas/aula06-IdiomaSwing/target/
/aulas_basicas/aulas/aula07-TipoPrimitivos/target/
/aulas_basicas/aulas/aula07-EntradaDeDados/target/
/aulas_basicas/aulas/aula07-TesteTipos/target/
/aulas_basicas/aulas/aula7-DesafioSomarValores/target/
/aulas_basicas/aulas/aula07-OperadoresAritmetricos/target/
/aulas_basicas/aulas/aula07-OperadoresSwing/target/
/aulas_basicas/aulas/aula08a-OperadoresTernarios/target/
/aulas_basicas/aulas/aula08b-ComparacaoString/target/
/aulas_basicas/aulas/aula07-DesafioSomarValores/target/
/aulas_basicas/aulas/aula08c-OperadoresLogicos/target/
/aulas_basicas/aulas/aula08d-VerificadorIdadeSwing/target/
/aulas_basicas/aulas/aula09a-ProgramaMedia/target/
/aulas_basicas/aulas/aula09b-ProgramaIdade/target/
/aulas_basicas/aulas/aula9c-ProgramaParImparSwing/target/
/aulas_basicas/aulas/aula09c-ProgramaParImparSwing/target/
/aulas_basicas/aulas/aula10a-VotacaoSwing/target/
/aulas_basicas/aulas/aula10b-VotacaoSwingElseIf/target/
/aulas_basicas/aulas/aula10c-ProgramaPernas/target/
/aulas_basicas/aulas/aula11a-EstruturasDeRepeticao-Contador01/target/
/aulas_basicas/aulas/aula11b-EstruturasDeRepeticao-Contador02/target/
/aulas_basicas/aulas/aula11c-EstruturasDeRepeticao-Contador03Break/target/
/aulas_basicas/aulas/aula11d-EstruturasDeRepeticao-Contador04Swing/target/
